<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Team Info</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link rel="stylesheet" href="/static/Join_page.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Our Team</h1>
      <div class="our_team">
        <div class="team_member">
          <div class="member_img">
            <img
              src="/static/sumedha.jpg"
              alt="our_team"
              style="border-radius: 50%"
            />
          </div>
          <h3>Sumedha Samanta</h3>
          <span>1BM19IS160</span>
        </div>

        <div class="team_member">
          <div class="member_img">
            <img
              src="/static/ayman.jpg"
              alt="our_team"
              style="border-radius: 50%"
            />
          </div>
          <h3>Ayman Shakil</h3>
          <span>1BM19IS192</span>
        </div>

        <div class="team_member">
          <div class="member_img">
            <img
              src="/static/siri.jpg"
              alt="our_team"
              style="border-radius: 50%"
            />
          </div>
          <h3>Siri Jain</h3>
          <span>1BM19IS158</span>
        </div>
      </div>
    </div>
  </body>
</html>
